extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Steven Duval

        p.lead.text-light
          | Aspiring Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hello World!  You found me &#128512;
          p
            | Over the past 13-14 years I have always had a passion to enter into the world of web development as a full time career.  
            | I took a few classes in high school and I also took a few classes online but never thought I was capable of transforming a hobby/passion into a career.
          p
            | Fast forward to 2020, after years of working in Email Marketing, I started to realize more and more that I need to transform my passion into a career.
            | With the world changing from needing traditional college degrees and the availability of more online learning programs, I realized now is the perfect time for me to take a deep dive into the world of Full Stack Development.
          p
            | Join me on this journey, shall you?
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li jQuery
          li JavaScript
          li APIs
          li Node
          li Express
          li Pug
          li GitHub
          li SQL
        h6 Contact Info

        ul
          li 312-479-8604
          li stevenduval@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/stevenduval' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/stevenduval' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back