extends layout.pug

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') â† Back
    article.grid-container
        div(style='margin-top:15vh; text-align:center;')
            img(src='/static/img/sad-businessman.png' style='height:300px')
            br
            br
            h2 #{err.message}
            h1 #{err.status}
            p #{err.stack}