extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Hello World!

      p.lead.text-light
        | Below are some of the recent projects that I have been working on.
        br
        | Check back often!  As I continue my journey into the Full Stack world!
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in data.data.projects
        .cell
          a(href=`/project?id=${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h6 #{project.project_name}

      
