<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Steven Duval | Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='https://ca.slack-edge.com/TBPQFGEAH-UM76P2B08-c82e2b088696-512')
          .cell.auto

            h5 Steven Duval

            p.text-light
              | I am Steven Duval, an aspiring Full Stack Developer.  
              | Over the past year I have immersed myself into the world of Full Stack Web Development.
              | I enjoy helping my fellow peers in the Team Treehouse Slack Community and am looking forward to pursuing a career in Full Stack Development this year.
              | Take a look around!  I have posted a few of the past projects that I have been working on. 
 
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title Steven Duval
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
